<header class="min-h-20 max-nav:h-auto z-20 whitespace-nowrap relative -mb-4"
        [ngClass]="theme.getColor()">
  
  <div class="nav:hidden absolute w-full border-b border-gray-800/50 shadow-lg h-6 top-18 -mt-6 z-50 transition-all duration-300 ease-in-out origin-center" 
       [ngClass]="menuOpen ? 'scale-x-100 opacity-100' : 'scale-x-0 opacity-0'">
  </div>

  <nav class="flex flex-col nav:flex-row nav:justify-between nav:items-center bg-primary-600 transition-colors duration-300 ease-in-out shadow-xl rounded-b-lg min-h-18 nav:h-18 p-0 nav:px-2 cursor-default overflow-hidden">
    
    <div class="flex justify-between items-center w-full nav:w-auto h-18 px-4 nav:px-2 select-none shrink-0 bg-primary-600 transition-colors duration-300 ease-in-out relative z-10">
      <a class="flex items-center space-x-2" routerLink="/">
        <img class="absolute transition-opacity duration-300 ease-in-out" width="50" height="50"
            [ngClass]="theme.isDarkMode ? 'opacity-0' : 'opacity-100'"
            src="images/GymTracer_logo_light.svg" />

        <img class="absolute transition-opacity duration-300 ease-in-out" width="50" height="50"
            [ngClass]="theme.isDarkMode ? 'opacity-100' : 'opacity-0'"
            src="images/GymTracer_logo_dark.svg" />
            
        <p class="ml-15 text-2xl font-bold transition-color duration-300 ease-in-out text-black dark:text-white">GymTracer</p>
      </a>

      <button
        #burgerButton 
        class="self-center nav:hidden max-nav:my-1 w-11 h-11 rounded-full hover:bg-black/10 transition-colors duration-300 ease-in-out focus:outline-none cursor-pointer flex items-center justify-center relative overflow-hidden"
        (click)="toggleMenu()">
        <img class="w-8 h-8 absolute transition-opacity duration-300 ease-in-out"
            [ngClass]="theme.isDarkMode ? 'opacity-0' : 'opacity-100'"
            src="images/hamburger_light.svg" />

        <img class="w-8 h-8 absolute transition-opacity duration-300 ease-in-out"
            [ngClass]="theme.isDarkMode ? 'opacity-100' : 'opacity-0'"
            src="images/hamburger_dark.svg" />
            
      </button>
    </div>

    <div class="w-full nav:w-auto nav:h-full max-nav:bg-primary-500 max-nav:transition-all max-nav:duration-300 max-nav:ease-in-out max-nav:overflow-hidden"
         [ngClass]="menuOpen ? 'max-nav:max-h-[550px]' : 'max-nav:max-h-0'">
      
      <div class="flex flex-col nav:flex-row select-none transition-colors duration-300 ease-in-out nav:h-full nav:items-center nav:justify-between w-full">

        <div class="flex flex-col nav:flex-row nav:items-center nav:h-full">
          <a class="nav-element" routerLink="/">Kezdőlap</a>
          
          @if(auth.actingUserRole === UserRole.not_found){
            <a class="nav-element" routerLink="/login">Bejelentkezés</a>
            <a class="nav-element" routerLink="/registration">Regisztráció</a>
          }
          @else if(theme.isStaffMode && !theme.isPretendMode && (auth.actingUserRole === UserRole.staff || auth.actingUserRole === UserRole.admin)){
            <a class="nav-element" routerLink="/users">Felhasználók</a>
            <a class="nav-element" routerLink="/statistics">Statisztikák</a>
            @if(auth.actingUserRole === UserRole.admin){
              <a class="nav-element" routerLink="/card-usage">Kártyahasználat</a>
              <a class="nav-element" routerLink="/income">Bevétel</a>
            }
          }
          @else {
            <a class="nav-element" routerLink="/trainings">Edzések</a>
            <a class="nav-element" routerLink="/tickets">Jegyeim</a>
            @if(auth.actingUserRole === UserRole.trainer){
              <a class="nav-element" routerLink="/my-trainings">Edzéseim</a>
            }
            <a class="nav-element" routerLink="/profile">Profilom</a>
          }
        </div>
        <button 
          #themeButton
          class="self-center nav:mx-1 max-nav:my-1 w-11 h-11 rounded-full hover:bg-black/10 transition-colors duration-300 ease-in-out focus:outline-none cursor-pointer flex items-center justify-center relative overflow-hidden"
          (click)="theme.toggleTheme()" 
          [title]="theme.isDarkMode ? 'Világos mód' : 'Sötét mód'">
          
          <img class="w-7 h-7 absolute transition-all duration-300 ease-in-out"
                [ngClass]="theme.isDarkMode ? 'opacity-0 rotate-90 scale-50' : 'opacity-100 rotate-0 scale-100'"
                src="images/light_mode.svg" />

          <img class="w-7 h-7 absolute transition-all duration-300 ease-in-out"
              [ngClass]="theme.isDarkMode ? 'opacity-100 rotate-0 scale-100' : 'opacity-0 -rotate-90 scale-50'"
              src="images/dark_mode.svg" />
        </button>
        @if(auth.actingUserRole !== UserRole.not_found){
          <div class="flex flex-col nav:flex-row items-center justify-center max-nav:pt-4 max-nav:pb-2 max-nav:border-t nav:pl-4 nav:ml-1 nav:border-l transition-colors duration-300 ease-in-out border-gray-800 max-nav:border-gray-800/40 dark:border-gray-300 max-nav:dark:border-gray-300/40 gap-4 nav:gap-5">
            
            <div class="flex flex-col items-center justify-center leading-tight">
              <p class="font-semibold truncate max-w-[200px] transition-colors duration-300 ease-in-out text-gray-900 dark:text-gray-100" [title]="auth.user?.name">
                {{ auth.user?.name }}
              </p>
              <p class="text-xs font-mono mt-0.5 transition-colors duration-300 ease-in-out text-gray-800 dark:text-gray-300">
                <span>({{ remainingTime }})</span>
              </p>
            </div>

            @if(!auth.pretendedUser && (auth.user?.role === UserRole.staff || auth.user?.role === UserRole.admin)) {
              <div class="flex flex-col items-center justify-center">
                <p class="text-xs transition-colors duration-300 ease-in-out text-gray-800 dark:text-gray-300 font-bold mb-0.5 uppercase">Ügykezelés</p>
                <mat-slide-toggle #staffSlide
                  color="primary"
                  class="scale-90"
                  (change)="toggleStaff($event)"
                  [checked]="theme.isStaffMode">
                </mat-slide-toggle>
              </div>
            }

            <button 
              class="w-11 h-11 rounded-full hover:bg-black/10 transition-colors duration-300 ease-in-out focus:outline-none cursor-pointer flex items-center justify-center relative overflow-hidden" 
              (click)="logout()"
              title="Kijelentkezés">

              <img class="w-7 h-7 absolute transition-opacity duration-300 ease-in-out"
                  [ngClass]="theme.isDarkMode ? 'opacity-0' : 'opacity-100'"
                  src="images/logout_light.svg" />

              <img class="w-7 h-7 absolute transition-opacity duration-300 ease-in-out"
                  [ngClass]="theme.isDarkMode ? 'opacity-100' : 'opacity-0'"
                  src="images/logout_dark.svg" />

            </button>
            
          </div>
        }

      </div>

    </div>
  </nav>
  <div class="h-2"></div>
</header>